.GameOver {
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 240px;
    margin: 60px auto 0;
    border-radius: 15px;
  }

  &--primary {
    background-color: var(--color-primary);
  }

  &--warning {
    background-color: var(--color-primary);
  }
}

.GameOver__title {
  @media screen and (min-width: 1440px) {
    font-size: 60px;
    font-weight: 700;
  }

  &--secondary {
    color: var(--color-secondary);
  }

  &--warning {
    color: var(--color-warning);
  }
}

.GameOver__button {
  @media screen and (min-width: 1440px) {
    background-color: var(--color-warning);
    padding: 15px 30px;
    font-size: inherit;
    font-family: inherit;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
  }
}