.KeyboardTile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 700;
  padding: 40px 45px;
  border: 3px solid var(--color-secondary-darker);
  border-spacing: 10px;
  margin-top: -3px;
  margin-left: -3px;
  cursor: pointer;
  font-size: inherit;
  position: relative;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-gray);
  }

  &--correct, &--incorrect {
    background-color: var(--color-gray);
  }

  &--correct:before, &--correct:after {
    content: '';
    position: absolute;
    border: 3px solid var(--color-green);
    border-radius: 50%;
    z-index: 20;
    overflow: hidden;
  }

  &--correct:before {
    width: 110%;
    height: 130%;
  }

  &--correct:after {
    width: 120%;
    height: 120%;
  }

  &--incorrect:before, &--incorrect:after {
    content: '';
    position: absolute;
    border-top: 5px solid var(--color-warning);
    top: 50%;
    z-index: 20;
    width: 120%;
    height: 5px;
    overflow: hidden;
  }


  &--incorrect:before {
    transform: skewY(45deg);
  }

  &--incorrect:after {
    transform: skewY(140deg);
  }
}